.page {
    background-color: $c-dark1;
    
    min-height: 100vh;
    width: 100%;
          
  }


.main {
  padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-height: calc(100vh - 200px);
      background-color:$c-light1;
 
}





