@import "../core/variables.scss";



.header {
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  
    &__title {
      font-size: $subheadline;
      @media all and (min-width: 768px) {
        font-size: $headline;
      }
      
      font-family: 'Mansalva', cursive;
      color: $c-light1;
      text-align: center;
    }
}