@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
}

ul {
  list-style: none;
}

.page {
  padding: 1rem;
}

