.card {
    width: 200px;
    min-height: 350px;
    background-color: green;
    margin: 10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      transform: scale(1.03);
      box-shadow: 0px 0px 5px 5px green;
      transition: box-shadow 0.2s ease, transform 0.2s ease;
    }
    &__article {
      &--img {
        width: 200px;
        height: 300px;
        object-fit: cover;
      }
      &--title {
        color: grey;
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
        margin-top: 5px;
        max-width: 190px;
      }
      &--text {
        color: white;
        font-weight: lighter;
        margin-left: 10px;
        margin-bottom: 5px;
      }
    }
  }